*.o
*.d
z_jail
build/
_build/
_dist/
fuzz/fuzz_bpf
*.gcda
*.gcno
*.gcov
.githooks/
_benchmarks/reports/
_benchmarks/vm_results/
.release-key
paper/*
DEMOBlackHat/

paper/CSFDemo/

tac_dsn.*
*.tex
*.pdf
*.aux
*.log
*.out
*.bbl
*.blg
*.nav
*.snm
*.toc
*.vrb
*.synctex.gz
